<div class="feedbacks">
  <form class="form" [formGroup]="form" (ngSubmit)="addFeedback()">
    <div class="form__control">
      <label for="name">Enter your name</label>
      <input id="name" type="text" formControlName="name"/>
      <div class="validation" *ngIf="form.get('name').invalid && form.get('name').touched">
        <small class="error">Name field can't be empty</small>
      </div>
    </div>
    <div class="form__control">
      <label for="feedback">Enter your feedback</label>
      <textarea id="feedback" formControlName="feedback"></textarea>
      <div class="validation" *ngIf="form.get('feedback').invalid && form.get('feedback').touched">
        <small class="error">Feedback field can't be empty</small>
      </div>
    </div>
    <button type="submit" class="btn" [disabled]="form.invalid">Add feedback</button>
  </form>

  <p *ngIf="feedbacks.length">Feedbacks:</p>
  <div class="feedback__list" *ngFor="let feedback of feedbacks">
    <div class="feedback__item">
      <div>
        <span>{{feedback.userName}}</span>
        <span>{{feedback.date | date:'medium'}}</span>
      </div>
      <p>{{feedback.userFeedback}}</p>
    </div>
  </div>
</div>
