.feedbacks {
  background-color: var(--light-color);
  width: 75%;
  margin: 0 auto;
  padding: 0 20px 20px;

  .form {
    display: flex;
    flex-direction: column;

    &__control {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
  }

  #name {
    width: 40%;
  }

  #feedback {
    height: 100px;
  }

  #name, #feedback {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #747474;
    margin-top: 5px;

    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }

    &.ng-valid.ng-touched {
      border: 1px solid green;
    }
  }

  .btn {
    width: 20%;
    padding: 10px;
    margin: 20px 0 20px auto;
    font-size: 16px;
    display: inline-block;
    background-color: var(--detail-color);

    &:hover {
      background-color: #2456ff;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #747474;
    }
  }
}

.feedback__list {
  margin-top: 10px;
  &:last-child {
    border-bottom: 1px solid var(--dark-color);
  }
}

.feedback__item {
  border-top: 1px solid var(--dark-color);
  padding: 10px 0;

  div {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  p {
    word-wrap: break-word;
  }
}

.error {
  color: red;
}

@media (max-width: 991px) {
  .feedbacks {
    width: 90%;
  }

  .feedbacks .btn {
    width: 30%;
  }
}
