.QuizList {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(to right, #3d7eaa, #ffe47a);
}

.title {
    color: #fff;
    margin-bottom: 10px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listItem {
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: #fff;
}

.link:hover {
    color: #363f54;
}