.item {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  background-color: var(--light-color);

  &__data {
    width: 40%;
  }

  &__title {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 20px;
  }

  &__parameter {
    font-weight: bold;
  }
}

img {
  height: 400px;
}

.menu {
  display: flex;
  flex-direction: column;
  font-weight: bold;

  &__item {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    margin: 10px 0 0;
  }
}

.btn {
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  font-size: 16px;
  display: inline-block;
  background-color: var(--detail-color);

  &:hover {
    background-color: #2456ff;
  }
}

@media (max-width: 767px) {
  img {
    height: 300px;
  }

  .item__data {
    margin-right: 20px;
    margin-bottom: 30px;
  }
}
