<app-alert></app-alert>

<div class="item" *ngIf="product">
  <div class="item__photo">
    <img src="../../assets/img/watch/{{product.photo}}.jpg" alt="{{product.model}}"/>
  </div>
  <div class="item__data">
    <p class="item__title">Apple Watch Series {{product.generation}} {{product.size}}mm
      {{product.color}} with {{product.strapColor}} {{product.strapSeries}}</p>
    <ul class="menu">Parameters
      <li class="menu__item"><span class="item__parameter">Generation:</span>Apple Watch Series {{product.generation}}</li>
      <li class="menu__item"><span class="item__parameter">Model:</span>{{product.model}}</li>
      <li class="menu__item"><span class="item__parameter">Size:</span>{{product.size}}mm</li>
      <li class="menu__item"><span class="item__parameter">Color:</span> {{product.color}}</li>
      <li class="menu__item"><span class="item__parameter">Strap Series</span> {{product.strapSeries}}</li>
      <li class="menu__item"><span class="item__parameter">Strap Color</span> {{product.strapColor}}</li>
      <li class="menu__item"><span class="item__parameter">Price:</span> {{product.price | currency}}</li>
    </ul>
    <button class="btn" (click)="addItem(product)">Add to Cart</button>
  </div>
</div>
