.QuizCreator {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(to right, #3ca55c, #b5ac49);
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    margin-bottom: 50px;
}

.title {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.QuizCreator form {
    background-color: #eee;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.buttonContainer {
    padding-bottom: 10px;
}