* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body, textarea {
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

.button {
  padding: 1rem 2.5rem;
  background-color: white;
  border-radius: 30px;
}

.title {
  font-size: 3rem;
}

.primary-text {
  line-height: 1.5rem;
  color: $primary-text-color;
  text-align: center;
}

.logo {
  width: 64px;
  height: 64px;
  display: inline-block;
  background: url("../img/letter-v.png") no-repeat;
}