@media (max-width: 991px) {

  .header__nav, .latest-works__article,
  .sorting-list__container, .gallery__container,
  .about-myself__container, .education__container,
  .contacts__address-phone-email {
    width: 70%;
  }

  .header {
    background-color: $secondary-color;

    &__nav {
      display: block;

      &__logo {
        float: left;
        display: block;
      }

      .menu-icon {
        padding: 32px 0;
        position: relative;
        float: right;
        cursor: pointer;

        .nav-icon {
          background-color: #333;
          display: block;
          height: 2px;
          width: 18px;
          position: relative;
          transition: background .2s ease-out;

          &::before {
            background-color: #333;
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            transition: transform .2s ease-out;
            top: 5px;
          }

          &::after {
            background-color: #333;
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            transition: transform .2s ease-out;
            top: -5px;
          }
        }
      }

      .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &__item {

          &:last-child .link {
            border-bottom: none;
          }

          &:hover .dropdown {
            display: none;
          }

          .link {
            display: block;
            padding: 20px 0;
            margin-left: -30px;
            border-bottom: 1px solid #aaa;
          }
        }
      }
    }
  }

  .showcase {
    height: 70vh;

    .main-title {
      font-size: 3rem;
    }

    .main-subtitle {
      font-size: 1.2rem;
    }
  }

  .latest-works__article .primary-text {
    font-size: .95rem;
  }

  .gallery__container {
    grid-template-areas:
            'road-lake-mountain road-lake-mountain'
            'road-lake-mountain road-lake-mountain'
            'road-mountain road-mountain'
            'sea swans'
            'sea winter-forest'
            'fern night-sky'
            'forest-road forest-road';

    .gallery__photo {
      min-height: 200px;
    }
  }

  .about-myself__photo,
  .education__container .education__companies {
    display: none;
  }

  .about-myself__container .about-myself__text {
    width: 100%;
  }

  .education__container .education__slider,
  .education__container .education__slider .slide .primary-text {
    width: 100%;
    text-align: center;
  }

  .education__container .education__slider .slide {
    padding: 3rem 0 0;
  }

  .education__container .education__slider .dot-background {
    left: 40%;
  }

  .education__slider .primary-text {
    color: #141413;
    margin: auto;
  }

  .contacts__container {
    width: 50%;
    margin: auto;

    .contacts__data {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;

      .contacts__address-phone-email {
        width: 100%;
        margin-bottom: 2rem;
      }

      .contacts__form, .contacts__textarea {
        width: 50%;
      }
    }
  }

  .footer .footer__links .icon {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .header__nav, .latest-works__article,
  .sorting-list, .gallery__container,
  .about-myself__container, .education__container,
  .contacts__address-phone-email {
    max-width: 540px;
  }

  .button {
    padding: .75rem 2rem;
    background-color: white;
    border-radius: 30px;
  }

  .primary-text {
    font-size: .9rem;
  }

  .showcase .main-title, .title {
    font-size: 2.5rem;
  }

  .title::before, .title::after {
    display: none;
  }

  .sorting-list__container {
    width: 95%;
  }

  .sorting-list__container .list .list__item {
    font-size: .75rem;
  }

  .gallery {
    margin-bottom: 3rem;
  }

  .footer .footer__links {
    width: 30%;
  }
}

@media (max-width: 575px) {
  .header__nav, .latest-works__article,
  .sorting-list, .gallery__container,
  .about-myself__container, .education__container,
  .contacts__address-phone-email,
  .contacts__container, .footer__copyright {
    width: 95%;
  }

  .gallery__container {
    grid-template-areas:
            'road-lake-mountain'
            'road-mountain'
            'sea'
            'swans'
            'winter-forest'
            'fern'
            'night-sky'
            'forest-road';
  }

  .footer .footer__links {
    width: 40%;
  }
}