$container-width: 85%;
$primary-text-color: #777;
$primary-color: #ffc107;
$secondary-color: #dc3545;
$details-color: #e45447;
$link-color: #000;
$link-active-color: #fff;
$sorting-list-after-color: #ffe6db;
$about-myself-background-color: #f9f9ff;
$custom-button-border-color: #90acd1;
$footer-background-color: #ffd200;
$footer-icon-color: #c48e0b;

@mixin make-gallery-photo($background, $grid-area) {
  background: url($background) no-repeat center center/cover;
  grid-area: $grid-area;
}

%flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%title-before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  margin-left: -50px;
  background-color: $details-color;
  left: 50%;
  bottom: -15px;
}

%title-after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-left: -5px;
  background-color: $details-color;
  left: 50%;
  bottom: -19px;
}