.header__nav, .showcase, .latest-works__article, .gallery__container .gallery__photo, .education, .education__container .education__slider .dot-background, .footer {
  display: flex;
  justify-content: center;
  align-items: center; }

.latest-works__article .title::before, .about-myself__container .about-myself__text .title::before, .education .title::before, .contacts__container .title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  margin-left: -50px;
  background-color: #e45447;
  left: 50%;
  bottom: -15px; }

.latest-works__article .title::after, .about-myself__container .about-myself__text .title::after, .education .title::after, .contacts__container .title::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-left: -5px;
  background-color: #e45447;
  left: 50%;
  bottom: -19px; }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body, textarea {
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif; }

ul, li, a {
  list-style: none;
  text-decoration: none; }

.button {
  padding: 1rem 2.5rem;
  background-color: white;
  border-radius: 30px; }

.title {
  font-size: 3rem; }

.primary-text {
  line-height: 1.5rem;
  color: #777;
  text-align: center; }

.logo {
  width: 64px;
  height: 64px;
  display: inline-block;
  background: url("../img/letter-v.png") no-repeat; }

/*Header*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #ffc107; }
  .header__nav {
    width: 85%;
    margin: auto;
    padding-top: .3rem;
    justify-content: space-between;
    position: relative; }
    .header__nav .menu-btn {
      display: none; }
      .header__nav .menu-btn:checked ~ .menu {
        max-height: 400px; }
      .header__nav .menu-btn:checked ~ .menu-icon .nav-icon {
        background-color: transparent; }
      .header__nav .menu-btn:checked ~ .menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0; }
      .header__nav .menu-btn:checked ~ .menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0; }
    .header__nav .menu {
      display: flex; }
      .header__nav .menu .link {
        color: #000;
        font-size: 1.2rem;
        transition: color .3s; }
        .header__nav .menu .link:hover, .header__nav .menu .link.link-active {
          color: #fff; }
      .header__nav .menu__item {
        margin-left: 2rem;
        position: relative;
        transition: background-color .3s; }
        .header__nav .menu__item:hover .dropdown {
          display: block; }
        .header__nav .menu__item .dropdown {
          display: none;
          position: absolute;
          padding-top: 23px;
          top: 100%; }
          .header__nav .menu__item .dropdown__menu {
            display: flex;
            flex-direction: column;
            box-shadow: 0 5px 20px; }
            .header__nav .menu__item .dropdown__menu .dropdown__item {
              width: 150px;
              background-color: #ffc107;
              padding: 1rem 2rem;
              border-bottom: 1px solid white;
              cursor: pointer;
              transition: background-color .3s; }
              .header__nav .menu__item .dropdown__menu .dropdown__item:last-child {
                border-bottom: none; }
              .header__nav .menu__item .dropdown__menu .dropdown__item:hover {
                background-color: #dc3545; }

/*Showcase*/
.showcase {
  height: 100vh;
  width: 100%;
  background: url("../img/header-background.jpg") no-repeat top center/cover;
  flex-direction: column; }
  .showcase .main-title {
    font-size: 4rem; }
  .showcase .main-subtitle {
    font-size: 2rem;
    margin: 1rem 0 2rem; }
  .showcase .button {
    border: 2px solid #dc3545;
    background-color: #dc3545;
    color: white;
    transition: background-color,color .5s; }
    .showcase .button:hover {
      background-color: transparent;
      color: black; }

/*Latest works*/
.latest-works {
  margin: 2rem 0 5rem;
  padding-top: 5rem; }
  .latest-works__article {
    flex-direction: column;
    width: 40%;
    margin: 2rem auto 0; }
    .latest-works__article .title {
      margin-bottom: 2rem;
      position: relative; }

/*Sorting List*/
.sorting-list {
  width: 70%;
  height: 3rem;
  position: relative;
  background-color: #ffc107;
  margin: 2rem auto 0; }
  .sorting-list::after {
    content: '';
    position: absolute;
    width: 96%;
    height: 10px;
    margin: 0 auto;
    left: 2%;
    background-color: #ffe6db; }
  .sorting-list__container {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center; }
    .sorting-list__container .list {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .sorting-list__container .list .list__item {
        font-size: .8rem; }
        .sorting-list__container .list .list__item:hover, .sorting-list__container .list .list__item.link-active {
          color: #e45447;
          cursor: pointer; }

/*Gallery*/
.gallery {
  margin-bottom: 6rem;
  margin-top: -2rem;
  padding-top: 5rem; }
  .gallery__container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-areas: 'road-lake-mountain road-lake-mountain road-mountain sea' 'road-lake-mountain road-lake-mountain swans swans' 'winter-forest winter-forest forest-road forest-road' 'fern night-sky forest-road forest-road';
    grid-gap: 2rem; }
    .gallery__container .gallery__photo {
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 2rem;
      border-radius: 10px;
      position: relative; }
      .gallery__container .gallery__photo::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0);
        transition: transform, background-color 1s; }
      .gallery__container .gallery__photo:hover::after {
        background-color: rgba(0, 0, 0, 0.5); }
      .gallery__container .gallery__photo .gallery__link, .gallery__container .gallery__photo .gallery__text {
        position: absolute;
        color: white;
        opacity: 0;
        transform: translateY(50px);
        transition: transform .5s; }
      .gallery__container .gallery__photo:hover .gallery__link, .gallery__container .gallery__photo:hover .gallery__text {
        position: absolute;
        display: block;
        opacity: 1;
        transform: translateY(-30px);
        z-index: 2; }
      .gallery__container .gallery__photo:hover .gallery__text {
        transform: translateY(0px); }
      .gallery__container .gallery__photo.road-lake-mountain {
        background: url("../img/road-lake-mountain.jpg") no-repeat center center/cover;
        grid-area: road-lake-mountain;
        height: 400px; }
      .gallery__container .gallery__photo.road-mountain {
        background: url("../img/road-mountain.jpg") no-repeat center center/cover;
        grid-area: road-mountain; }
      .gallery__container .gallery__photo.sea {
        background: url("../img/sea.jpg") no-repeat center center/cover;
        grid-area: sea; }
      .gallery__container .gallery__photo.swans {
        background: url("../img/swans.jpg") no-repeat center center/cover;
        grid-area: swans; }
      .gallery__container .gallery__photo.winter-forest {
        background: url("../img/winter-forest.jpg") no-repeat center center/cover;
        grid-area: winter-forest; }
      .gallery__container .gallery__photo.fern {
        background: url("../img/fern.jpg") no-repeat center center/cover;
        grid-area: fern; }
      .gallery__container .gallery__photo.night-sky {
        background: url("../img/night-sky.jpg") no-repeat center center/cover;
        grid-area: night-sky; }
      .gallery__container .gallery__photo.forest-road {
        background: url("../img/forest-road.jpg") no-repeat center center/cover;
        grid-area: forest-road;
        height: 400px; }

/*About Myself*/
.about-myself {
  background-color: #f9f9ff;
  padding: 7rem 0; }
  .about-myself__container {
    display: flex;
    width: 85%;
    margin: auto; }
    .about-myself__container .about-myself__photo {
      width: 40%;
      height: 500px;
      margin-right: auto;
      background: url("../img/my-photo.jpg") no-repeat center center/cover;
      border-radius: 10px; }
    .about-myself__container .about-myself__text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .about-myself__container .about-myself__text .title {
        position: relative;
        margin-bottom: 2rem; }
        .about-myself__container .about-myself__text .title::before {
          margin-left: 0;
          left: 0; }
        .about-myself__container .about-myself__text .title::after {
          margin-left: 0;
          left: 0; }
      .about-myself__container .about-myself__text .primary-text {
        text-align: left; }
      .about-myself__container .about-myself__text .button {
        border: 2px solid #90acd1;
        color: black;
        align-self: flex-start;
        transition: background-color,color .5s;
        margin-top: 3rem;
        cursor: pointer; }
        .about-myself__container .about-myself__text .button:hover {
          border-color: #dc3545;
          background-color: #dc3545;
          color: white; }

/*Education*/
.education {
  width: 100%;
  height: 630px;
  padding: 2rem 0;
  background: url("../img/study-background.jpg") no-repeat center center/cover;
  flex-direction: column; }
  .education .title {
    margin-bottom: 2rem;
    position: relative; }
    .education .title::before {
      background-color: white; }
    .education .title::after {
      background-color: white; }
  .education__container {
    height: 66%;
    width: 85%;
    display: flex;
    justify-content: space-between; }
    .education__container .education__slider {
      height: 100%;
      width: 55%;
      position: relative;
      overflow: hidden; }
      .education__container .education__slider .dot-background {
        width: 95px;
        height: 30px;
        justify-content: space-evenly;
        position: absolute;
        z-index: 3;
        bottom: 21%;
        left: 30px;
        border-radius: 20px;
        background-color: #dc3545; }
        .education__container .education__slider .dot-background .dot {
          width: 18px;
          height: 18px;
          cursor: pointer;
          border-radius: 50%;
          background-color: #e45447; }
      .education__container .education__slider .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 2;
        padding: 4em 2em 0;
        transition: left .75s; }
        .education__container .education__slider .slide__title {
          margin-bottom: 2rem;
          font-size: 1.5rem; }
        .education__container .education__slider .slide__data {
          margin-bottom: 1rem;
          font-size: 1.2rem;
          color: rgba(0, 0, 0, 0.7); }
        .education__container .education__slider .slide .primary-text {
          max-width: 90%;
          text-align: left;
          font-size: 1.2rem; }
      .education__container .education__slider #slide-artelogic:checked ~ .slide-artelogic,
      .education__container .education__slider #slide-logos:checked ~ .slide-logos,
      .education__container .education__slider #slide-epam:checked ~ .slide-epam,
      .education__container .education__slider #slide-green-forest:checked ~ .slide-green-forest {
        left: 0;
        z-index: 2;
        transition: left .65s; }
      .education__container .education__slider input[type="radio"] {
        visibility: hidden;
        position: absolute; }
      .education__container .education__slider #slide-artelogic:checked ~ .dot-background #dot-artelogic,
      .education__container .education__slider #slide-logos:checked ~ .dot-background #dot-logos,
      .education__container .education__slider #slide-epam:checked ~ .dot-background #dot-epam,
      .education__container .education__slider #slide-green-forest:checked ~ .dot-background #dot-green-forest {
        background-color: white; }
    .education__container .education__companies {
      width: 30%;
      background-color: white;
      display: grid;
      padding: 1rem;
      grid-template-areas: 'artelogic logos' 'epam green-forest';
      grid-gap: 1.1rem; }
      .education__container .education__companies .company-logo {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
        .education__container .education__companies .company-logo.artelogic {
          background: url("../img/artelogic.png") no-repeat center center/cover;
          grid-area: artelogic; }
        .education__container .education__companies .company-logo.logos {
          background: url("../img/logos.png") no-repeat center center/cover;
          grid-area: logos; }
        .education__container .education__companies .company-logo.epam {
          background: url("../img/epam.png") no-repeat center center/cover;
          grid-area: epam; }
        .education__container .education__companies .company-logo.green-forest {
          background: url("../img/green-forest.png") no-repeat center center/cover;
          grid-area: green-forest; }

/*Contacts*/
.contacts {
  width: 100%;
  margin-top: -2rem;
  padding-top: 6rem; }
  .contacts__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacts__container .title {
      margin-bottom: 3rem;
      position: relative; }
    .contacts__container .contacts__data {
      width: 85%;
      margin: auto;
      display: flex;
      align-items: center; }
      .contacts__container .contacts__data .contacts__address-phone-email {
        width: 30%;
        font-weight: 600; }
        .contacts__container .contacts__data .contacts__address-phone-email .contacts__address, .contacts__container .contacts__data .contacts__address-phone-email .contacts__phone, .contacts__container .contacts__data .contacts__address-phone-email .contacts__email {
          display: flex;
          align-items: center;
          margin-bottom: 1.5rem; }
        .contacts__container .contacts__data .contacts__address-phone-email .contacts__email {
          margin-bottom: 0; }
        .contacts__container .contacts__data .contacts__address-phone-email .material-icons {
          color: #e45447;
          margin-right: 1rem; }
      .contacts__container .contacts__data .contacts__form {
        width: 35%; }
        .contacts__container .contacts__data .contacts__form .form-group {
          margin-bottom: .9rem; }
          .contacts__container .contacts__data .contacts__form .form-group:last-child {
            margin-bottom: 0; }
          .contacts__container .contacts__data .contacts__form .form-group input {
            width: 90%;
            border-radius: 5px;
            border: none;
            outline: none;
            border-bottom: 2px solid #ddd;
            transition: border-color .5s;
            padding: .4rem; }
            .contacts__container .contacts__data .contacts__form .form-group input:focus {
              border-bottom-color: #dc3545; }
      .contacts__container .contacts__data .contacts__textarea {
        width: 35%; }
        .contacts__container .contacts__data .contacts__textarea textarea {
          width: 100%;
          padding: .5rem 0 5rem .5rem;
          border-radius: 5px;
          border: none;
          outline: none;
          border-bottom: 2px solid #ddd;
          transition: border-color .5s; }
          .contacts__container .contacts__data .contacts__textarea textarea:focus {
            border-bottom-color: #dc3545; }
    .contacts__container .contacts__data, .contacts__container .button {
      margin-bottom: 2rem; }
    .contacts__container .button {
      border: 2px solid #dc3545;
      background-color: #dc3545;
      color: white;
      transition: background-color,color .5s;
      cursor: pointer; }
      .contacts__container .button:hover {
        background-color: transparent;
        color: black;
        border-color: #90acd1; }

/*Footer*/
.footer {
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: #ffd200; }
  .footer__title {
    margin: 2rem 0 1rem; }
  .footer .footer__links {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 2rem; }
    .footer .footer__links .icon {
      font-size: 2.5rem;
      color: #c48e0b;
      transition: color .5s; }
      .footer .footer__links .icon:hover {
        color: #dc3545; }
  .footer__copyright {
    text-align: center; }
    .footer__copyright .link {
      color: #dc3545; }

@media (max-width: 991px) {
  .header__nav, .latest-works__article,
  .sorting-list__container, .gallery__container,
  .about-myself__container, .education__container,
  .contacts__address-phone-email {
    width: 70%; }

  .header {
    background-color: #dc3545; }
    .header__nav {
      display: block; }
      .header__nav__logo {
        float: left;
        display: block; }
      .header__nav .menu-icon {
        padding: 32px 0;
        position: relative;
        float: right;
        cursor: pointer; }
        .header__nav .menu-icon .nav-icon {
          background-color: #333;
          display: block;
          height: 2px;
          width: 18px;
          position: relative;
          transition: background .2s ease-out; }
          .header__nav .menu-icon .nav-icon::before {
            background-color: #333;
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            transition: transform .2s ease-out;
            top: 5px; }
          .header__nav .menu-icon .nav-icon::after {
            background-color: #333;
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            transition: transform .2s ease-out;
            top: -5px; }
      .header__nav .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        display: flex;
        flex-direction: column;
        overflow: hidden; }
        .header__nav .menu__item:last-child .link {
          border-bottom: none; }
        .header__nav .menu__item:hover .dropdown {
          display: none; }
        .header__nav .menu__item .link {
          display: block;
          padding: 20px 0;
          margin-left: -30px;
          border-bottom: 1px solid #aaa; }

  .showcase {
    height: 70vh; }
    .showcase .main-title {
      font-size: 3rem; }
    .showcase .main-subtitle {
      font-size: 1.2rem; }

  .latest-works__article .primary-text {
    font-size: .95rem; }

  .gallery__container {
    grid-template-areas: 'road-lake-mountain road-lake-mountain' 'road-lake-mountain road-lake-mountain' 'road-mountain road-mountain' 'sea swans' 'sea winter-forest' 'fern night-sky' 'forest-road forest-road'; }
    .gallery__container .gallery__photo {
      min-height: 200px; }

  .about-myself__photo,
  .education__container .education__companies {
    display: none; }

  .about-myself__container .about-myself__text {
    width: 100%; }

  .education__container .education__slider,
  .education__container .education__slider .slide .primary-text {
    width: 100%;
    text-align: center; }

  .education__container .education__slider .slide {
    padding: 3rem 0 0; }

  .education__container .education__slider .dot-background {
    left: 40%; }

  .education__slider .primary-text {
    color: #141413;
    margin: auto; }

  .contacts__container {
    width: 50%;
    margin: auto; }
    .contacts__container .contacts__data {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center; }
      .contacts__container .contacts__data .contacts__address-phone-email {
        width: 100%;
        margin-bottom: 2rem; }
      .contacts__container .contacts__data .contacts__form, .contacts__container .contacts__data .contacts__textarea {
        width: 50%; }

  .footer .footer__links .icon {
    font-size: 2rem; } }
@media (max-width: 767px) {
  .header__nav, .latest-works__article,
  .sorting-list, .gallery__container,
  .about-myself__container, .education__container,
  .contacts__address-phone-email {
    max-width: 540px; }

  .button {
    padding: .75rem 2rem;
    background-color: white;
    border-radius: 30px; }

  .primary-text {
    font-size: .9rem; }

  .showcase .main-title, .title {
    font-size: 2.5rem; }

  .title::before, .title::after {
    display: none; }

  .sorting-list__container {
    width: 95%; }

  .sorting-list__container .list .list__item {
    font-size: .75rem; }

  .gallery {
    margin-bottom: 3rem; }

  .footer .footer__links {
    width: 30%; } }
@media (max-width: 575px) {
  .header__nav, .latest-works__article,
  .sorting-list, .gallery__container,
  .about-myself__container, .education__container,
  .contacts__address-phone-email,
  .contacts__container, .footer__copyright {
    width: 95%; }

  .gallery__container {
    grid-template-areas: 'road-lake-mountain' 'road-mountain' 'sea' 'swans' 'winter-forest' 'fern' 'night-sky' 'forest-road'; }

  .footer .footer__links {
    width: 40%; } }

/*# sourceMappingURL=style.css.map */
