@import "variables";
@import "general-styles";

/*Header*/

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: $primary-color;

  &__nav {
    @extend %flex-center-center;
    width: $container-width;
    margin: auto;
    padding-top: .3rem;
    justify-content: space-between;
    position: relative;

    .menu-btn {
      display: none;

      &:checked ~ .menu {
        max-height: 400px;
      }

      &:checked ~ .menu-icon .nav-icon {
        background-color: transparent;
      }

      &:checked ~ .menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0;
      }

      &:checked ~ .menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0;
      }
    }

    .menu {
      display: flex;

      .link {
        color: $link-color;
        font-size: 1.2rem;
        transition: color .3s;

        &:hover, &.link-active{
          color: $link-active-color;
        }
      }

      &__item {
        margin-left: 2rem;
        position: relative;
        transition: background-color .3s;

        &:hover .dropdown {
          display: block;
        }

        .dropdown {
          display: none;
          position: absolute;
          padding-top: 23px;
          top: 100%;

          &__menu {
            display: flex;
            flex-direction: column;
            box-shadow: 0 5px 20px;

            .dropdown__item {
              width: 150px;
              background-color: $primary-color;
              padding: 1rem 2rem;
              border-bottom: 1px solid white;
              cursor: pointer;
              transition: background-color .3s;

              &:last-child {
                border-bottom: none;
              }

              &:hover {
                background-color: $secondary-color;
              }
            }
          }
        }
      }
    }
  }
}

/*Showcase*/

.showcase {
  @extend %flex-center-center;
  height: 100vh;
  width: 100%;
  background: url("../img/header-background.jpg") no-repeat top center/cover;
  flex-direction: column;

  .main-title {
    font-size: 4rem;
  }

  .main-subtitle {
    font-size: 2rem;
    margin: 1rem 0 2rem;
  }

  .button {
    border: 2px solid $secondary-color;
    background-color: $secondary-color;
    color: white;
    transition: background-color,color .5s;

    &:hover {
      background-color: transparent;
      color: black;
    }
  }
}

/*Latest works*/

.latest-works {
  margin: 2rem 0 5rem;
  padding-top: 5rem;

  &__article {
    @extend %flex-center-center;
    flex-direction: column;
    width: 40%;
    margin: 2rem auto 0;

    .title {
      margin-bottom: 2rem;
      position: relative;

      &::before {
        @extend %title-before;
      }

      &::after {
        @extend %title-after;
      }
    }
  }
}

/*Sorting List*/

.sorting-list {
  width: 70%;
  height: 3rem;
  position: relative;
  background-color: $primary-color;
  margin: 2rem auto 0;

  &::after {
    content: '';
    position: absolute;
    width: 96%;
    height: 10px;
    margin: 0 auto;
    left: 2%;
    background-color: $sorting-list-after-color;
  }

  &__container {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    .list {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .list__item {
        font-size: .8rem;

        &:hover, &.link-active {
          color: $details-color;
          cursor: pointer;
        }
      }
    }
  }
}

/*Gallery*/

.gallery {
  margin-bottom: 6rem;
  margin-top: -2rem;
  padding-top: 5rem;

  &__container {
    width: $container-width;
    margin: auto;
    display: grid;
    grid-template-areas:
            'road-lake-mountain road-lake-mountain road-mountain sea'
            'road-lake-mountain road-lake-mountain swans swans'
            'winter-forest winter-forest forest-road forest-road'
            'fern night-sky forest-road forest-road';
    grid-gap: 2rem;

    .gallery__photo {
      @extend %flex-center-center;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 2rem;
      border-radius: 10px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0);
        transition: transform, background-color 1s;
      }

      &:hover::after {
        background-color: rgba(0, 0, 0, 0.5);
      }

      .gallery__link, .gallery__text {
        position: absolute;
        color: white;
        opacity: 0;
        transform: translateY(50px);
        transition: transform .5s;
      }

      &:hover .gallery__link, &:hover .gallery__text {
        position: absolute;
        display: block;
        opacity: 1;
        transform: translateY(-30px);
        z-index: 2;
      }

      &:hover .gallery__text {
        transform: translateY(0px);
      }

      &.road-lake-mountain {
        @include make-gallery-photo("../img/road-lake-mountain.jpg", road-lake-mountain);
        height: 400px;
      }

      &.road-mountain {
        @include make-gallery-photo("../img/road-mountain.jpg", road-mountain);
      }

      &.sea {
        @include make-gallery-photo("../img/sea.jpg", sea);
      }

      &.swans {
        @include make-gallery-photo("../img/swans.jpg", swans);
      }

      &.winter-forest {
        @include make-gallery-photo("../img/winter-forest.jpg", winter-forest);
      }

      &.fern {
        @include make-gallery-photo("../img/fern.jpg", fern);
      }

      &.night-sky {
        @include make-gallery-photo("../img/night-sky.jpg", night-sky);
      }

      &.forest-road {
        @include make-gallery-photo("../img/forest-road.jpg", forest-road);
        height: 400px;
      }
    }
  }
}

/*About Myself*/

.about-myself {
  background-color: $about-myself-background-color;
  padding: 7rem 0;

  &__container {
    display: flex;
    width: $container-width;
    margin: auto;

    .about-myself__photo {
      width: 40%;
      height: 500px;
      margin-right: auto;
      background: url("../img/my-photo.jpg") no-repeat center center/cover;
      border-radius: 10px;
    }

    .about-myself__text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        position: relative;
        margin-bottom: 2rem;

        &::before {
          @extend %title-before;
          margin-left: 0;
          left: 0;
        }

        &::after {
          @extend %title-after;
          margin-left: 0;
          left: 0;
        }
      }

      .primary-text {
        text-align: left;
      }

      .button {
        border: 2px solid $custom-button-border-color;
        color: black;
        align-self: flex-start;
        transition: background-color,color .5s;
        margin-top: 3rem;
        cursor: pointer;

        &:hover {
          border-color: $secondary-color;
          background-color: $secondary-color;
          color: white;
        }
      }
    }
  }
}

/*Education*/

.education {
  @extend %flex-center-center;
  width: 100%;
  height: 630px;
  padding: 2rem 0;
  background: url("../img/study-background.jpg") no-repeat center center/cover;
  flex-direction: column;

  .title {
    margin-bottom: 2rem;
    position: relative;

    &::before {
      @extend %title-before;
      background-color: white;
    }

    &::after {
      @extend %title-after;
      background-color: white;
    }
  }

  &__container {
    height: 66%;
    width: $container-width;
    display: flex;
    justify-content: space-between;

    .education__slider {
      height: 100%;
      width: 55%;
      position: relative;
      overflow: hidden;

      .dot-background {
        @extend %flex-center-center;
        width: 95px;
        height: 30px;
        justify-content: space-evenly;
        position: absolute;
        z-index: 3;
        bottom: 21%;
        left: 30px;
        border-radius: 20px;
        background-color: $secondary-color;

        .dot {
          width: 18px;
          height: 18px;
          cursor: pointer;
          border-radius: 50%;
          background-color: $details-color;
        }
      }

      .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 2;
        padding: 4em 2em 0;
        transition: left .75s;

        &__title {
          margin-bottom: 2rem;
          font-size: 1.5rem;
        }

        &__data {
          margin-bottom: 1rem;
          font-size: 1.2rem;
          color: rgba(0,0,0,0.7);
        }

        .primary-text {
          max-width: 90%;
          text-align: left;
          font-size: 1.2rem;
        }
      }

      #slide-artelogic:checked ~ .slide-artelogic,
      #slide-logos:checked ~ .slide-logos,
      #slide-epam:checked ~ .slide-epam,
      #slide-green-forest:checked ~ .slide-green-forest {
        left: 0;
        z-index: 2;
        transition: left .65s;
      }

      input[type="radio"] {
        visibility: hidden;
        position: absolute;
      }

      #slide-artelogic:checked ~ .dot-background #dot-artelogic,
      #slide-logos:checked ~ .dot-background #dot-logos,
      #slide-epam:checked ~ .dot-background #dot-epam,
      #slide-green-forest:checked ~ .dot-background #dot-green-forest {
        background-color: white;
      }
    }

    .education__companies {
      width: 30%;
      background-color: white;
      display: grid;
      padding: 1rem;
      grid-template-areas:
              'artelogic logos'
              'epam green-forest';
      grid-gap: 1.1rem;

      .company-logo {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &.artelogic {
          @include make-gallery-photo("../img/artelogic.png", artelogic);
        }

        &.logos {
          @include make-gallery-photo("../img/logos.png", logos);
        }

        &.epam {
          @include make-gallery-photo("../img/epam.png", epam);
        }

        &.green-forest {
          @include make-gallery-photo("../img/green-forest.png", green-forest);
        }
      }
    }
  }
}

/*Contacts*/

.contacts {
  width: 100%;
  margin-top: -2rem;
  padding-top: 6rem;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-bottom: 3rem;
      position: relative;

      &::before {
        @extend %title-before;
      }

      &::after {
        @extend %title-after;
      }
    }

    .contacts__data {
      width: $container-width;
      margin: auto;
      display: flex;
      align-items: center;

      .contacts__address-phone-email {
        width: 30%;
        font-weight: 600;

        .contacts__address, .contacts__phone, .contacts__email {
          display: flex;
          align-items: center;
          margin-bottom: 1.5rem;
        }

        .contacts__email {
          margin-bottom: 0;
        }

        .material-icons {
          color: $details-color;
          margin-right: 1rem;
        }
      }

      .contacts__form {
        width: 35%;

        .form-group {
          margin-bottom: .9rem;

          &:last-child {
            margin-bottom: 0;
          }

          input {
            width: 90%;
            border-radius: 5px;
            border: none;
            outline: none;
            border-bottom: 2px solid #ddd;
            transition: border-color .5s;
            padding: .4rem;

            &:focus {
              border-bottom-color: $secondary-color;
            }
          }
        }
      }

      .contacts__textarea {
        width: 35%;

        textarea {
          width: 100%;
          padding: .5rem 0 5rem .5rem;
          border-radius: 5px;
          border: none;
          outline: none;
          border-bottom: 2px solid #ddd;
          transition: border-color .5s;

          &:focus {
            border-bottom-color: $secondary-color;
          }
        }
      }
    }

    .contacts__data, .button {
      margin-bottom: 2rem;
    }

    .button {
      border: 2px solid $secondary-color;
      background-color: $secondary-color;
      color: white;
      transition: background-color,color .5s;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        color: black;
        border-color: $custom-button-border-color;
      }
    }
  }
}

/*Footer*/

.footer {
  @extend %flex-center-center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: $footer-background-color;

  &__title {
    margin: 2rem 0 1rem;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 2rem;

    .icon {
      font-size: 2.5rem;
      color: $footer-icon-color;
      transition: color .5s;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &__copyright {
    text-align: center;

    .link {
      color: $secondary-color;
    }
  }
}

@import "media-queries";