.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 5px 0;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 1);
  margin-bottom: 20px;
  background-color: #f3f3f3;

  &__navbar {
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .menu-btn {
      position: absolute;

      &:checked ~ .header__links {
        width: 200px;
        background-color: #e5e5e5;
        top: 63px;
        position: absolute;
        max-height: 400px;
      }

      &:checked ~ .menu-icon .nav-icon {
        background-color: transparent;
      }

      &:checked ~ .menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0;
      }

      &:checked ~ .menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0;
      }
    }
  }

  &__links {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: auto;

    a {
      margin-left: 30px;
      padding: 10px;
      border-radius: 5px;
      color: var(--dark-color);
      transition: color, background-color .2s;

      &:hover, &.active {
        color: var(--detail-color);
        background-color: #e8e8e8;
      }

      &.feedback {
        margin-left: auto;
        margin-right: 10px;
      }
    }
  }

  &__logo {
    font-size: 48px;
    color: var(--dark-color);

    &:hover {
      color: var(--detail-color);
    }
  }

  &__functionals {
    display: flex;
    align-items: center;
  }
}

.search-input {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #747474;
}

.icon {
  font-size: 20px;
  margin-left: 40px;
  cursor: pointer;
  color: var(--dark-color);

  &:hover {
    color: var(--detail-color);
  }
}

.cart__link {
  position: relative;
}

.cart__counter {
  position: absolute;
  top: -10px;
  display: inline-block;
  font-size: 10px;
  background-color: var(--detail-color);
  padding: 2px 4px;
  border-radius: 5px;
  color: var(--light-color);
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #f3f3f3;
}

@media (max-width: 767px) {
  .header {

    .menu-icon {
      position: relative;
      cursor: pointer;
      margin-left: 30px;
      margin-right: auto;

      .nav-icon {
        background-color: #333;
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition: background .2s ease-out;

        &::before {
          background-color: #333;
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          transition: transform .2s ease-out;
          top: 5px;
        }

        &::after {
          background-color: #333;
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          transition: transform .2s ease-out;
          top: -5px;
        }
      }
    }

    .header__links {
      max-height: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      a {
        width: 100%;
        display: block;
        padding: 20px;
        margin-left: 0;
        border-radius: 0;
      }
    }
  }
}
