<header class="header">
  <nav class="header__navbar">
    <a class="header__logo" routerLink="/"><i class="fab fa-apple"></i></a>
    <input class="menu-btn" id="menu-btn" type="checkbox" />
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <div class="header__links">
      <a routerLinkActive="active" routerLink="/iphone">iPhone</a>
      <a routerLinkActive="active" routerLink="/mac">Mac</a>
      <a routerLinkActive="active" routerLink="/watch">Watch</a>
      <a class="feedback" routerLinkActive="active" routerLink="/feedback">Feedbacks</a>
    </div>
    <div class="header__functionals">
      <input #textFilter class="search-input" type="text" placeholder="I'm looking for... ex.: 'iphone 8'"
             (input)="sendText(textFilter.value)"/>
      <a class="cart__link" routerLink="/cart"><i class="fas fa-shopping-cart icon"></i>
        <span class="cart__counter" *ngIf="cartCounter">{{cartCounter}}</span></a>
    </div>
  </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>


