* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Light", sans-serif;
  background-color: darkgrey;
}

ul, li {
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
}

.d-none {
  display: none;
}

