$mainColorTheme: #fff;
$primaryColor: #007bff;
$primaryColorHover: #0069d9;
$successColor: #28a745;
$successColorHover: #218838;
$warningColor: #ffc107;
$warningColorHover: #e0a800;
$dangerColor: #dc3545;
$dangerColorHover: #c82333;
$disabledColor: #6c757d;

%button {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: $mainColorTheme;
  transition: background-color .5s;
  cursor: pointer;
}