@import "variables";
@import "general-styles";

.todo-list {
  width: 60%;
  margin: 3rem auto;

  &__container {
    background-color: $mainColorTheme;
    border-radius: 20px;

    .todo-list__title {
      text-align: center;
      padding-top: 10px;
    }

    .todo-list__add-todo {
      width: 50%;
      margin: 0 auto;
      padding: 20px 0;

      .add-todo__field {
        width: 75%;
        height: 30px;
        font-size: 1.2rem;
        padding: 5px 10px;
        border-radius: 10px;
        border: none;
        outline: none;
        border-bottom: 1px solid darkgrey;
        transition: border-bottom-color .5s;

        &:focus {
          border-bottom-color: $successColor;
        }
      }

      .add-todo__button {
        @extend %button;
        background-color: $successColor;
        width: 15%;
        margin-left: 5%;

        &:hover {
          background-color: $successColorHover;
        }
      }
    }

    .todo-list__list {
      width: 70%;
      margin: 0 auto;
      min-height: 100px;

      .todo-list__list-item {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid $disabledColor;

        &:last-child {
          border-bottom: none;
        }

        .list-item__number {
          width: 5%;
        }

        .list-item__text {
          width: 45%;
          word-wrap: break-word;
        }

        .list-item__checkbox-label {
          text-align: center;

          .list-item__checkbox {
            visibility: hidden;
            position: absolute;
          }
        }

        .list-item__progress {
          width: 20%;
          text-align: center;
          color: $dangerColor;
          transition: color .5s;
        }

        .progress-done {
          color: $successColor;
        }

        .list-item__archive-button {
          @extend %button;
          margin-left: 2%;
          cursor: auto;
          background-color: $disabledColor;
        }

        .archive-btn-active {
          background-color: $warningColor;
          cursor: pointer;

          &:hover {
            background-color: $warningColorHover;
          }
        }
      }
    }

    .todo-list__to-archive-todo-list {
      width: 50%;
      height: 50px;
      margin: 0 auto;
      text-align: right;

      .to-archive-todo-list__button {
        @extend %button;
        background-color: $primaryColor;

        &:hover {
          background-color: $primaryColorHover;
        }
      }
    }
  }

  .archive-todo-list__container {
    width: 100%;
    min-height: 100px;
    background-color: $mainColorTheme;
    border-radius: 20px;

    .archive-todo-list__to-todo-list {
      width: 70%;
      margin: 0 auto;

      .to-todo-list__button {
        width: 32px;
        height: 32px;
        font-size: 32px;
        border: none;
        outline: none;
        background-color: $mainColorTheme;
        cursor: pointer;
      }
    }

    .archive-todo-list__archive-list {
      width: 70%;
      margin: 0 auto;

      .archive-list__archive-list-item {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid $disabledColor;

        &:last-child {
          border-bottom: none;
        }

        .archive-list-item__text {
          width: 80%;
          word-wrap: break-word;
        }

        .archive-list-item__delete-button {
          @extend %button;
          background-color: $dangerColor;
          width: 15%;
          margin-left: 5%;

          &:hover {
            background-color: $dangerColorHover;
          }
        }
      }
    }
  }
}