.todo-list__container .todo-list__add-todo .add-todo__button, .todo-list__container .todo-list__list .todo-list__list-item .list-item__archive-button, .todo-list__container .todo-list__to-archive-todo-list .to-archive-todo-list__button, .todo-list .archive-todo-list__container .archive-todo-list__archive-list .archive-list__archive-list-item .archive-list-item__delete-button {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  transition: background-color .5s;
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto Light", sans-serif;
  background-color: darkgrey; }

ul, li {
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem; }

button {
  font-size: 1.2rem; }

.d-none {
  display: none; }

.todo-list {
  width: 60%;
  margin: 3rem auto; }
  .todo-list__container {
    background-color: #fff;
    border-radius: 20px; }
    .todo-list__container .todo-list__title {
      text-align: center;
      padding-top: 10px; }
    .todo-list__container .todo-list__add-todo {
      width: 50%;
      margin: 0 auto;
      padding: 20px 0; }
      .todo-list__container .todo-list__add-todo .add-todo__field {
        width: 75%;
        height: 30px;
        font-size: 1.2rem;
        padding: 5px 10px;
        border-radius: 10px;
        border: none;
        outline: none;
        border-bottom: 1px solid darkgrey;
        transition: border-bottom-color .5s; }
        .todo-list__container .todo-list__add-todo .add-todo__field:focus {
          border-bottom-color: #28a745; }
      .todo-list__container .todo-list__add-todo .add-todo__button {
        background-color: #28a745;
        width: 15%;
        margin-left: 5%; }
        .todo-list__container .todo-list__add-todo .add-todo__button:hover {
          background-color: #218838; }
    .todo-list__container .todo-list__list {
      width: 70%;
      margin: 0 auto;
      min-height: 100px; }
      .todo-list__container .todo-list__list .todo-list__list-item {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #6c757d; }
        .todo-list__container .todo-list__list .todo-list__list-item:last-child {
          border-bottom: none; }
        .todo-list__container .todo-list__list .todo-list__list-item .list-item__number {
          width: 5%; }
        .todo-list__container .todo-list__list .todo-list__list-item .list-item__text {
          width: 45%;
          word-wrap: break-word; }
        .todo-list__container .todo-list__list .todo-list__list-item .list-item__checkbox-label {
          text-align: center; }
          .todo-list__container .todo-list__list .todo-list__list-item .list-item__checkbox-label .list-item__checkbox {
            visibility: hidden;
            position: absolute; }
        .todo-list__container .todo-list__list .todo-list__list-item .list-item__progress {
          width: 20%;
          text-align: center;
          color: #dc3545;
          transition: color .5s; }
        .todo-list__container .todo-list__list .todo-list__list-item .progress-done {
          color: #28a745; }
        .todo-list__container .todo-list__list .todo-list__list-item .list-item__archive-button {
          margin-left: 2%;
          cursor: auto;
          background-color: #6c757d; }
        .todo-list__container .todo-list__list .todo-list__list-item .archive-btn-active {
          background-color: #ffc107;
          cursor: pointer; }
          .todo-list__container .todo-list__list .todo-list__list-item .archive-btn-active:hover {
            background-color: #e0a800; }
    .todo-list__container .todo-list__to-archive-todo-list {
      width: 50%;
      height: 50px;
      margin: 0 auto;
      text-align: right; }
      .todo-list__container .todo-list__to-archive-todo-list .to-archive-todo-list__button {
        background-color: #007bff; }
        .todo-list__container .todo-list__to-archive-todo-list .to-archive-todo-list__button:hover {
          background-color: #0069d9; }
  .todo-list .archive-todo-list__container {
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    border-radius: 20px; }
    .todo-list .archive-todo-list__container .archive-todo-list__to-todo-list {
      width: 70%;
      margin: 0 auto; }
      .todo-list .archive-todo-list__container .archive-todo-list__to-todo-list .to-todo-list__button {
        width: 32px;
        height: 32px;
        font-size: 32px;
        border: none;
        outline: none;
        background-color: #fff;
        cursor: pointer; }
    .todo-list .archive-todo-list__container .archive-todo-list__archive-list {
      width: 70%;
      margin: 0 auto; }
      .todo-list .archive-todo-list__container .archive-todo-list__archive-list .archive-list__archive-list-item {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #6c757d; }
        .todo-list .archive-todo-list__container .archive-todo-list__archive-list .archive-list__archive-list-item:last-child {
          border-bottom: none; }
        .todo-list .archive-todo-list__container .archive-todo-list__archive-list .archive-list__archive-list-item .archive-list-item__text {
          width: 80%;
          word-wrap: break-word; }
        .todo-list .archive-todo-list__container .archive-todo-list__archive-list .archive-list__archive-list-item .archive-list-item__delete-button {
          background-color: #dc3545;
          width: 15%;
          margin-left: 5%; }
          .todo-list .archive-todo-list__container .archive-todo-list__archive-list .archive-list__archive-list-item .archive-list-item__delete-button:hover {
            background-color: #c82333; }

/*# sourceMappingURL=style.css.map */
