<app-alert></app-alert>

<div class="item" *ngIf="product">
  <div class="item__photo">
    <img src="../../assets/img/iphone/{{product.photo}}.jpg" alt="{{product.model}}"/>
  </div>
  <div class="item__data">
    <p class="item__title"><span *ngIf="product.condition === 'used'">used</span> {{product.model}} {{product.memory}}GB
      <span *ngIf="product.hasTwoSim === 'yes'">Dual SIM</span> ({{product.color}})</p>
    <ul class="menu">Parameters
      <li class="menu__item"><span class="item__parameter">Model:</span> {{product.model}}</li>
      <li class="menu__item"><span class="item__parameter">Memory:</span> {{product.memory}}GB</li>
      <li class="menu__item"><span class="item__parameter">Color:</span> {{product.color}}</li>
      <li class="menu__item"><span class="item__parameter">Has 2 SIM:</span> {{product.hasTwoSim}}</li>
      <li class="menu__item"><span class="item__parameter">Condition:</span> {{product.condition}}</li>
      <li class="menu__item"><span class="item__parameter">Price:</span> {{product.price | currency}}</li>
    </ul>
    <button class="btn" (click)="addItem(product)">Add to Cart</button>
  </div>
</div>
