.alert-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 25px;
  width: 200px;
  height: 40px;
  background-color: var(--detail-color);
  color: var(--light-color);
}
