* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans";
  background-color: $lightColor;
}

ol, ul {
  list-style: none;
}

input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: $lightColor;
}

.title {
  font-size: 44px;
}

.text-semibold {
  font-family: "Open Sans Semibold";
}

.text-bold {
  font-family: "Open Sans Bold";
}

.text-light {
  font-family: "Open Sans Light";
}

.text-italic {
  font-family: "Open Sans Italic";
}