.start {
  background-color: #111111;

  &__container {
    max-width: 1140px;
    margin: 0 auto;
  }

  &__nav {
    font-family: "Lato Bold";
    padding-top: 55px;
    margin-bottom: 210px;
    @extend %flex-centered;
    justify-content: space-between;

    .nav__logo {
      font-size: 24px;
      color: $lightColor;
    }

    .nav__menu {
      display: flex;

      .menu__item {
        position: relative;
        font-size: 14px;
        margin-left: 27px;

        &::after, &.active::after {
          content: '';
          display: block;
          width: 130%;
          height: 3px;
          position: absolute;
          left: -15%;
          top: 32px;
          opacity: 0;
          background-image: linear-gradient(to right, #292929 50%, $detailsColor 50%);
          transition: opacity .4s;
        }

        &:hover::after, &.active::after {
          opacity: 1;
        }
      }
    }

  }

  &__showcase {
    margin: 0 auto 283px;
    text-align: center;
    color: $lightColor;

    .showcase__title {
      margin-bottom: 15px;
      color: #999999;
      letter-spacing: -3px;

      &_orange {
        color: $detailsColor;
      }
    }

    .showcase__subtitle {
      font-size: 20px;
      letter-spacing: -1px;
    }
  }

  &__arrow {
    padding-bottom: 89px;

    .arrow__link {
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border-radius: 50%;
      background-image: url("../img/circle-with-arrow.png");
    }
  }
}


.about {

  &__container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 98px;
  }

  &__wrapper {
    display: flex;
  }

  &__mac {
    position: relative;
    width: 680px;
    height: 504px;
    margin-top: 5px;
    background: url("../img/mac-body.png") top left;

    .mac__display {
      position: absolute;
      top: 19px;
      left: 18px;
      opacity: 0;
      transition: opacity 1s;

      &.appear {
        opacity: 1;
      }
    }
  }

  &__about-us {
    width: 460px;
    padding-right: 20px;

    .about-us__subtitle {
      font-size: 20px;
      color: #636363;
      margin-bottom: 11px;
    }

    .about-us__title {
      position: relative;
      font-size: 34px;
      color: $darkColor;
      margin-bottom: 48px;
      letter-spacing: -.75px;

      &::after {
        content: '';
        display: block;
        width: 100px;
        left: 0;
        top: 50px;
        position: absolute;
        height: 4px;
        border-radius: 1px;
        background-color: $detailsColor;
      }
    }

    .about-us__text {
      font-size: 18px;
      color: #6c6c6c;
      margin-bottom: 43px;
      line-height: 24px;
      letter-spacing: -.75px;
    }

    .about-us__list {
      margin-bottom: 51px;

      .list__item {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #5a5a5a;
        margin-bottom: 16px;

        &_normal {
          font-style: normal;
          font-size: 18px;
        }

        &::before {
          content: '';
          display: block;
          width: 14px;
          height: 15px;
          margin-right: 10px;
          background-image: url("../img/about-us-list-dot.png");
        }
      }
    }

    .about-us__button {
      @extend %flex-centered;
      background-color: transparent;
      color: #616161;
      font-size: 12px;
      border: 1px solid #616161;
      padding: 16px 20px;
      border-radius: 2px;
      margin-bottom: 103px;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: #bbbcbd;
        border-color: #bbbcbd;
        color: $lightColor;
        transition: color, background-color .4s;
      }

      &_icon {
        display: block;
        width: 14px;
        height: 12px;
        margin-right: 10px;
        background-image: url("../img/about-us-button-icon.png");
      }
    }
  }
}

.team {
  background-color: #070707;

  &__container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 92px;
  }

  &__title {
    color: $lightColor;
    text-align: center;
    margin-bottom: 137px;
    position: relative;

    &::before {
      @extend %title-before;
    }

    &::after {
      @extend %title-after;
    }
  }

  &__slider {
    height: 452px;
    position: relative;
    overflow: hidden;

    .slides {
      @extend %slides-wrapper-styles;
      width: 150%;

      .slide {
        height: 100%;
        color: $lightColor;
        text-align: center;
        padding: 0 10px;

        &__photo {
          width: 125px;
          height: 125px;
          border-radius: 50%;
          margin: 0 auto 20px;

          &.statham {
            @include make-centered-background-photo("../img/statham.jpg");
          }

          &.damme {
            @include make-centered-background-photo("../img/damme.jpg");
            background-position: top center;
          }

          &.stallone {
            @include make-centered-background-photo("../img/stallone.jpeg");
          }

          &.li {
            @include make-centered-background-photo("../img/li.jpg");
          }

          &.schwarzenegger {
            @include make-centered-background-photo("../img/schwarzenegger.png");
          }

          &.johnson {
            @include make-centered-background-photo("../img/johnson.jpg");
          }
        }

        &__title {
          margin-bottom: 7px;
          font-size: 20px;
          font-family: "Open Sans Bold";
        }

        &__subtitle {
          font-size: 16px;
          margin-bottom: 30px;
        }

        .slide__text {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }

    .dot-wrapper {
      @extend %dot-wrapper-styles;

      .dot {
        @extend %dot-styles;
      }
    }

    #team-slide-left:checked ~ .slides {
      left: 0;
    }

    #team-slide-center:checked ~ .slides {
      left: -25%;
    }

    #team-slide-right:checked ~ .slides {
      left: -50%;
    }

    #team-slide-left:checked ~ .dot-wrapper #team-dot-left,
    #team-slide-center:checked ~ .dot-wrapper #team-dot-center,
    #team-slide-right:checked ~ .dot-wrapper #team-dot-right {
      background-color: $detailsColor;
    }
  }
}

.services {

  &__container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 92px;
    color: $darkColor;
  }

  &__title {
    position: relative;
    text-align: center;
    margin-bottom: 81px;

    &::before {
      @extend %title-before;
    }

    &::after {
      @extend %title-after;
    }
  }

  &__undertitle-text {
    font-size: 16px;
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 100px;
    line-height: 24px;
  }

  &__services-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;

    .services-list__service {
      height: 100%;
      text-align: center;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .service__photo {
        @extend %flex-centered;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 5px solid $detailsColor;
        margin: 0 auto 24px;
      }

      .service__title {
        margin-bottom: 13px;
        font-size: 25px;
        font-family: "Open Sans Semibold";
      }

      .service__text {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}

.clients {
  background-color: #0b0b0b;

  &__container {
    max-width: 945px;
    margin: 0 auto;
    padding-top: 93px;
  }

  &__title {
    position: relative;
    color: $lightColor;
    text-align: center;
    margin-bottom: 140px;

    &::before {
      @extend %title-before;
    }

    &::after {
      @extend %title-after;
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;
    padding-bottom: 240px;

    .slides {
      @extend %slides-wrapper-styles;
      width: 140%;
      align-items: baseline;
    }

    .dot-wrapper {
      @extend %dot-wrapper-styles;
      bottom: 101px;

      .dot {
        @extend %dot-styles;
      }
    }

    #clients-slide-left:checked ~ .slides {
      left: 0;
    }

    #clients-slide-center:checked ~ .slides {
      left: -20%;
    }

    #clients-slide-right:checked ~ .slides {
      left: -40%;
    }

    #clients-slide-left:checked ~ .dot-wrapper #clients-dot-left,
    #clients-slide-center:checked ~ .dot-wrapper #clients-dot-center,
    #clients-slide-right:checked ~ .dot-wrapper #clients-dot-right {
      background-color: $detailsColor;
    }
  }
}

.portfolio {

  &__container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 92px;
    color: $darkColor;
  }

  &__title {
    position: relative;
    text-align: center;
    margin-bottom: 82px;

    &::before {
      @extend %title-before;
    }

    &::after {
      @extend %title-after;
    }
  }

  &__undertitle-text {
    font-size: 16px;
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 106px;
    line-height: 24px;
  }

  &__gallery-controls {
    display: flex;
    justify-content: space-between;

    .gallery-controls__title {
      font-size: 18px;
    }

    .gallery-controls__menu {
      display: flex;
      margin-bottom: 46px;

      .menu__item {
        font-size: 18px;
        color: #6c6c6c;
        padding: 0 12px 2px;
        border-right: 1px solid #6c6c6c;
        cursor: pointer;

        &:hover, &.active {
          color: $darkColor;
          font-weight: 600;
        }

        &:last-child {
          border-right: none;
          padding-right: 0;
        }
      }
    }
  }

  &__gallery {

    .gallery__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 100px;
      }

      .row__item {
        width: 263px;
        height: 237px;
        position: relative;
        background-color: $darkColor;
        color: $lightColor;
        text-align: center;
        font-family: "Open Sans Semibold";

        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: opacity .3s;
        }

        &:hover::after {
          opacity: 0;
          animation-duration: .3s;
          animation-name: disapear;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }

        @keyframes disapear {
          to {
            z-index: -1;
          }
        }

        &.trend::after {
          @include make-centered-background-photo("../img/trend-background.png");
        }

        &.unlimited::after {
          @include make-centered-background-photo("../img/unlimited-background.png");
        }

        &.app::after {
          @include make-centered-background-photo("../img/app-background.png");
        }

        .item__title {
          font-size: 20px;
          margin: 65px 0 10px;
        }

        .item__text {
          font-size: 14px;
          color: #b2b2b2;
          margin-bottom: 30px;
        }

        .item__button {
          width: 40px;
          height: 40px;
          border: none;
          outline: none;
          border-radius: 50%;
          cursor: pointer;
          @include make-centered-background-photo("../img/plus-icon.png");
        }
      }
    }
  }
}

.testimonials {
  background-color: #0b0b0b;

  &__container {
    max-width: 945px;
    margin: 0 auto;
    padding-top: 93px;
  }

  &__title {
    color: $lightColor;
    text-align: center;
    margin-bottom: 142px;
    position: relative;

    &::before {
      @extend %title-before;
    }

    &::after {
      @extend %title-after;
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;
    padding-bottom: 283px;

    .slides {
      @extend %slides-wrapper-styles;
      @extend %flex-centered;
      width: 300%;
    }

    .slide {
      font-size: 18px;
      text-align: center;

      &__blockquote {
        color: #e7e7e7;
        margin-bottom: 44px;
        line-height: 24px;
        font-family: "Open Sans Semibold";
      }

      &__author {
        color: #b2b2b2;
      }
    }

    .dot-wrapper {
      @extend %dot-wrapper-styles;
      bottom: 100px;

      .dot {
        @extend %dot-styles;
      }
    }

    #testimonials-slide-left:checked ~ .slides {
      left: 0;
    }

    #testimonials-slide-center:checked ~ .slides {
      left: -100%;
    }

    #testimonials-slide-right:checked ~ .slides {
      left: -200%;
    }

    #testimonials-slide-left:checked ~ .dot-wrapper #testimonials-dot-left,
    #testimonials-slide-center:checked ~ .dot-wrapper #testimonials-dot-center,
    #testimonials-slide-right:checked ~ .dot-wrapper #testimonials-dot-right {
      background-color: $detailsColor;
    }
  }
}

.contact {

  &__container {
    max-width: 750px;
    margin: 0 auto;
    padding-top: 92px;
    color: $darkColor;
  }

  &__title {
    position: relative;
    text-align: center;
    margin-bottom: 81px;

    &::before {
      @extend %title-before;
    }

    &::after {
      @extend %title-after;
    }
  }

  &__undertitle-text {
    font-size: 16px;
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 92px;
    line-height: 24px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 104px;

    .form__item {
      display: flex;
      flex-direction: column;
      width: 48%;
      position: relative;

      &.name {
        margin-right: auto;
      }

      &.message {
        width: 100%;
        margin: 30px 0;
      }

      .item__label {
        color: #636363;
        font-size: 14px;
        margin-bottom: 8px;

        &::after {
          content: '*';
          color: #ff0000;
          position: absolute;
          top: 0;
          margin-left: 3px;
        }
      }

      .item__name, .item__email {
        padding: 11px 10px;
        outline: none;
      }

      .item__message {
        height: 165px;
        padding: 10px;
        outline: none;
      }
    }

    .form__submit-button {
      background-color: $detailsColor;
      color: $lightColor;
      font-size: 16px;
      border: 1px solid transparent;
      outline: none;
      padding: 11px 61px;
      margin-left: auto;
      cursor: pointer;

      &:hover {
        background-color: $lightColor;
        border-color: $detailsColor;
        color: $detailsColor;
        transition: color, background-color .4s;
      }
    }
  }
}

.footer {
  background-color: $darkColor;

  &__container {
    @extend %flex-centered;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0;
  }

  &__copyright {
    color: #b2b2b2;
    font-size: 12px;
    letter-spacing: .25px;
  }

  &__links {
    display: flex;

    .links__item {
      display: block;
      width: 31px;
      height: 31px;
      margin-left: 14px;

      &.facebook {
        @include make-centered-background-photo("../img/facebook-icon.png");
      }

      &.twitter {
        @include make-centered-background-photo("../img/twitter-icon.png");
      }

      &.google {
        @include make-centered-background-photo("../img/google-icon.png");
      }

      &.linkedin {
        @include make-centered-background-photo("../img/linkedin-icon.png");
      }

      &.dribbble {
        @include make-centered-background-photo("../img/dribbble-icon.png");
      }
    }
  }
}