$lightColor: #fff;
$darkColor: #222222;
$detailsColor: #fcac45;

%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%title-before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  background-color: $detailsColor;
  top: 70px;
  border-radius: 1px;
}

%title-after {
  content: "";
  position: absolute;
  height: 4px;
  width: 66px;
  left: 50%;
  margin-left: -33px;
  background-color: $detailsColor;
  top: 84px;
  opacity: .7;
  border-radius: 1px;
}

%slides-wrapper-styles {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 1s;
}

%dot-wrapper-styles {
  display: flex;
  align-items: center;
  width: 52px;
  justify-content: space-between;
  position: absolute;
  bottom: 84px;
  left: 50%;
  margin-left: -26px;
}

%dot-styles {
  width: 9px;
  height: 9px;
  cursor: pointer;
  background-color: $lightColor;
}

@mixin make-centered-background-photo($background) {
  background: url($background) no-repeat center center/cover;
}