.start__container .start__nav, .about__container .about__wrapper .about__about-us .about-us__button, .services__container .services__services-list .services-list__service .service__photo, .testimonials__container .testimonials__slider .slides, .footer__container {
  display: flex;
  justify-content: center;
  align-items: center; }

.team__container .team__title::before, .services__container .services__title::before, .clients__container .clients__title::before, .portfolio__container .portfolio__title::before, .testimonials__container .testimonials__title::before, .contact__container .contact__title::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  background-color: #fcac45;
  top: 70px;
  border-radius: 1px; }

.team__container .team__title::after, .services__container .services__title::after, .clients__container .clients__title::after, .portfolio__container .portfolio__title::after, .testimonials__container .testimonials__title::after, .contact__container .contact__title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 66px;
  left: 50%;
  margin-left: -33px;
  background-color: #fcac45;
  top: 84px;
  opacity: .7;
  border-radius: 1px; }

.team__container .team__slider .slides, .clients__container .clients__slider .slides, .testimonials__container .testimonials__slider .slides {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 1s; }

.team__container .team__slider .dot-wrapper, .clients__container .clients__slider .dot-wrapper, .testimonials__container .testimonials__slider .dot-wrapper {
  display: flex;
  align-items: center;
  width: 52px;
  justify-content: space-between;
  position: absolute;
  bottom: 84px;
  left: 50%;
  margin-left: -26px; }

.team__container .team__slider .dot-wrapper .dot, .clients__container .clients__slider .dot-wrapper .dot, .testimonials__container .testimonials__slider .dot-wrapper .dot {
  width: 9px;
  height: 9px;
  cursor: pointer;
  background-color: #fff; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-Semibold.ttf"); }
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf"); }
@font-face {
  font-family: "Open Sans Italic";
  src: url("../fonts/OpenSans-Italic.ttf"); }
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf"); }
@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato-Bold.ttf"); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 100%; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans";
  background-color: #fff; }

ol, ul {
  list-style: none; }

input[type="radio"] {
  visibility: hidden;
  position: absolute; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  text-decoration: none;
  color: #fff; }

.title {
  font-size: 44px; }

.text-semibold {
  font-family: "Open Sans Semibold"; }

.text-bold {
  font-family: "Open Sans Bold"; }

.text-light {
  font-family: "Open Sans Light"; }

.text-italic {
  font-family: "Open Sans Italic"; }

.start {
  background-color: #111111; }
  .start__container {
    max-width: 1140px;
    margin: 0 auto; }
    .start__container .start__nav {
      font-family: "Lato Bold";
      padding-top: 55px;
      margin-bottom: 210px;
      justify-content: space-between; }
      .start__container .start__nav .nav__logo {
        font-size: 24px;
        color: #fff; }
      .start__container .start__nav .nav__menu {
        display: flex; }
        .start__container .start__nav .nav__menu .menu__item {
          position: relative;
          font-size: 14px;
          margin-left: 27px; }
          .start__container .start__nav .nav__menu .menu__item::after, .start__container .start__nav .nav__menu .menu__item.active::after {
            content: '';
            display: block;
            width: 130%;
            height: 3px;
            position: absolute;
            left: -15%;
            top: 32px;
            opacity: 0;
            background-image: linear-gradient(to right, #292929 50%, #fcac45 50%);
            transition: opacity .4s; }
          .start__container .start__nav .nav__menu .menu__item:hover::after, .start__container .start__nav .nav__menu .menu__item.active::after {
            opacity: 1; }
    .start__container .start__showcase {
      margin: 0 auto 283px;
      text-align: center;
      color: #fff; }
      .start__container .start__showcase .showcase__title {
        margin-bottom: 15px;
        color: #999999;
        letter-spacing: -3px; }
        .start__container .start__showcase .showcase__title_orange {
          color: #fcac45; }
      .start__container .start__showcase .showcase__subtitle {
        font-size: 20px;
        letter-spacing: -1px; }
    .start__container .start__arrow {
      padding-bottom: 89px; }
      .start__container .start__arrow .arrow__link {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
        background-image: url("../img/circle-with-arrow.png"); }

.about__container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 98px; }
  .about__container .about__wrapper {
    display: flex; }
    .about__container .about__wrapper .about__mac {
      position: relative;
      width: 680px;
      height: 504px;
      margin-top: 5px;
      background: url("../img/mac-body.png") top left; }
      .about__container .about__wrapper .about__mac .mac__display {
        position: absolute;
        top: 19px;
        left: 18px;
        opacity: 0;
        transition: opacity 1s; }
        .about__container .about__wrapper .about__mac .mac__display.appear {
          opacity: 1; }
    .about__container .about__wrapper .about__about-us {
      width: 460px;
      padding-right: 20px; }
      .about__container .about__wrapper .about__about-us .about-us__subtitle {
        font-size: 20px;
        color: #636363;
        margin-bottom: 11px; }
      .about__container .about__wrapper .about__about-us .about-us__title {
        position: relative;
        font-size: 34px;
        color: #222222;
        margin-bottom: 48px;
        letter-spacing: -.75px; }
        .about__container .about__wrapper .about__about-us .about-us__title::after {
          content: '';
          display: block;
          width: 100px;
          left: 0;
          top: 50px;
          position: absolute;
          height: 4px;
          border-radius: 1px;
          background-color: #fcac45; }
      .about__container .about__wrapper .about__about-us .about-us__text {
        font-size: 18px;
        color: #6c6c6c;
        margin-bottom: 43px;
        line-height: 24px;
        letter-spacing: -.75px; }
      .about__container .about__wrapper .about__about-us .about-us__list {
        margin-bottom: 51px; }
        .about__container .about__wrapper .about__about-us .about-us__list .list__item {
          display: flex;
          align-items: center;
          font-size: 16px;
          color: #5a5a5a;
          margin-bottom: 16px; }
          .about__container .about__wrapper .about__about-us .about-us__list .list__item_normal {
            font-style: normal;
            font-size: 18px; }
          .about__container .about__wrapper .about__about-us .about-us__list .list__item::before {
            content: '';
            display: block;
            width: 14px;
            height: 15px;
            margin-right: 10px;
            background-image: url("../img/about-us-list-dot.png"); }
      .about__container .about__wrapper .about__about-us .about-us__button {
        background-color: transparent;
        color: #616161;
        font-size: 12px;
        border: 1px solid #616161;
        padding: 16px 20px;
        border-radius: 2px;
        margin-bottom: 103px;
        outline: none;
        cursor: pointer; }
        .about__container .about__wrapper .about__about-us .about-us__button:hover {
          background-color: #bbbcbd;
          border-color: #bbbcbd;
          color: #fff;
          transition: color, background-color .4s; }
        .about__container .about__wrapper .about__about-us .about-us__button_icon {
          display: block;
          width: 14px;
          height: 12px;
          margin-right: 10px;
          background-image: url("../img/about-us-button-icon.png"); }

.team {
  background-color: #070707; }
  .team__container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 92px; }
    .team__container .team__title {
      color: #fff;
      text-align: center;
      margin-bottom: 137px;
      position: relative; }
    .team__container .team__slider {
      height: 452px;
      position: relative;
      overflow: hidden; }
      .team__container .team__slider .slides {
        width: 150%; }
        .team__container .team__slider .slides .slide {
          height: 100%;
          color: #fff;
          text-align: center;
          padding: 0 10px; }
          .team__container .team__slider .slides .slide__photo {
            width: 125px;
            height: 125px;
            border-radius: 50%;
            margin: 0 auto 20px; }
            .team__container .team__slider .slides .slide__photo.statham {
              background: url("../img/statham.jpg") no-repeat center center/cover; }
            .team__container .team__slider .slides .slide__photo.damme {
              background: url("../img/damme.jpg") no-repeat center center/cover;
              background-position: top center; }
            .team__container .team__slider .slides .slide__photo.stallone {
              background: url("../img/stallone.jpeg") no-repeat center center/cover; }
            .team__container .team__slider .slides .slide__photo.li {
              background: url("../img/li.jpg") no-repeat center center/cover; }
            .team__container .team__slider .slides .slide__photo.schwarzenegger {
              background: url("../img/schwarzenegger.png") no-repeat center center/cover; }
            .team__container .team__slider .slides .slide__photo.johnson {
              background: url("../img/johnson.jpg") no-repeat center center/cover; }
          .team__container .team__slider .slides .slide__title {
            margin-bottom: 7px;
            font-size: 20px;
            font-family: "Open Sans Bold"; }
          .team__container .team__slider .slides .slide__subtitle {
            font-size: 16px;
            margin-bottom: 30px; }
          .team__container .team__slider .slides .slide .slide__text {
            font-size: 14px;
            line-height: 22px; }
      .team__container .team__slider #team-slide-left:checked ~ .slides {
        left: 0; }
      .team__container .team__slider #team-slide-center:checked ~ .slides {
        left: -25%; }
      .team__container .team__slider #team-slide-right:checked ~ .slides {
        left: -50%; }
      .team__container .team__slider #team-slide-left:checked ~ .dot-wrapper #team-dot-left,
      .team__container .team__slider #team-slide-center:checked ~ .dot-wrapper #team-dot-center,
      .team__container .team__slider #team-slide-right:checked ~ .dot-wrapper #team-dot-right {
        background-color: #fcac45; }

.services__container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 92px;
  color: #222222; }
  .services__container .services__title {
    position: relative;
    text-align: center;
    margin-bottom: 81px; }
  .services__container .services__undertitle-text {
    font-size: 16px;
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 100px;
    line-height: 24px; }
  .services__container .services__services-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px; }
    .services__container .services__services-list .services-list__service {
      height: 100%;
      text-align: center;
      margin: 0 10px; }
      .services__container .services__services-list .services-list__service:first-child {
        margin-left: 0; }
      .services__container .services__services-list .services-list__service:last-child {
        margin-right: 0; }
      .services__container .services__services-list .services-list__service .service__photo {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 5px solid #fcac45;
        margin: 0 auto 24px; }
      .services__container .services__services-list .services-list__service .service__title {
        margin-bottom: 13px;
        font-size: 25px;
        font-family: "Open Sans Semibold"; }
      .services__container .services__services-list .services-list__service .service__text {
        font-size: 14px;
        line-height: 21px; }

.clients {
  background-color: #0b0b0b; }
  .clients__container {
    max-width: 945px;
    margin: 0 auto;
    padding-top: 93px; }
    .clients__container .clients__title {
      position: relative;
      color: #fff;
      text-align: center;
      margin-bottom: 140px; }
    .clients__container .clients__slider {
      position: relative;
      overflow: hidden;
      padding-bottom: 240px; }
      .clients__container .clients__slider .slides {
        width: 140%;
        align-items: baseline; }
      .clients__container .clients__slider .dot-wrapper {
        bottom: 101px; }
      .clients__container .clients__slider #clients-slide-left:checked ~ .slides {
        left: 0; }
      .clients__container .clients__slider #clients-slide-center:checked ~ .slides {
        left: -20%; }
      .clients__container .clients__slider #clients-slide-right:checked ~ .slides {
        left: -40%; }
      .clients__container .clients__slider #clients-slide-left:checked ~ .dot-wrapper #clients-dot-left,
      .clients__container .clients__slider #clients-slide-center:checked ~ .dot-wrapper #clients-dot-center,
      .clients__container .clients__slider #clients-slide-right:checked ~ .dot-wrapper #clients-dot-right {
        background-color: #fcac45; }

.portfolio__container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 92px;
  color: #222222; }
  .portfolio__container .portfolio__title {
    position: relative;
    text-align: center;
    margin-bottom: 82px; }
  .portfolio__container .portfolio__undertitle-text {
    font-size: 16px;
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 106px;
    line-height: 24px; }
  .portfolio__container .portfolio__gallery-controls {
    display: flex;
    justify-content: space-between; }
    .portfolio__container .portfolio__gallery-controls .gallery-controls__title {
      font-size: 18px; }
    .portfolio__container .portfolio__gallery-controls .gallery-controls__menu {
      display: flex;
      margin-bottom: 46px; }
      .portfolio__container .portfolio__gallery-controls .gallery-controls__menu .menu__item {
        font-size: 18px;
        color: #6c6c6c;
        padding: 0 12px 2px;
        border-right: 1px solid #6c6c6c;
        cursor: pointer; }
        .portfolio__container .portfolio__gallery-controls .gallery-controls__menu .menu__item:hover, .portfolio__container .portfolio__gallery-controls .gallery-controls__menu .menu__item.active {
          color: #222222;
          font-weight: 600; }
        .portfolio__container .portfolio__gallery-controls .gallery-controls__menu .menu__item:last-child {
          border-right: none;
          padding-right: 0; }
  .portfolio__container .portfolio__gallery .gallery__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .portfolio__container .portfolio__gallery .gallery__row:last-child {
      margin-bottom: 100px; }
    .portfolio__container .portfolio__gallery .gallery__row .row__item {
      width: 263px;
      height: 237px;
      position: relative;
      background-color: #222222;
      color: #fff;
      text-align: center;
      font-family: "Open Sans Semibold"; }
      .portfolio__container .portfolio__gallery .gallery__row .row__item::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: opacity .3s; }
      .portfolio__container .portfolio__gallery .gallery__row .row__item:hover::after {
        opacity: 0;
        animation-duration: .3s;
        animation-name: disapear;
        animation-fill-mode: forwards;
        animation-timing-function: linear; }
@keyframes disapear {
  to {
    z-index: -1; } }
      .portfolio__container .portfolio__gallery .gallery__row .row__item.trend::after {
        background: url("../img/trend-background.png") no-repeat center center/cover; }
      .portfolio__container .portfolio__gallery .gallery__row .row__item.unlimited::after {
        background: url("../img/unlimited-background.png") no-repeat center center/cover; }
      .portfolio__container .portfolio__gallery .gallery__row .row__item.app::after {
        background: url("../img/app-background.png") no-repeat center center/cover; }
      .portfolio__container .portfolio__gallery .gallery__row .row__item .item__title {
        font-size: 20px;
        margin: 65px 0 10px; }
      .portfolio__container .portfolio__gallery .gallery__row .row__item .item__text {
        font-size: 14px;
        color: #b2b2b2;
        margin-bottom: 30px; }
      .portfolio__container .portfolio__gallery .gallery__row .row__item .item__button {
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        background: url("../img/plus-icon.png") no-repeat center center/cover; }

.testimonials {
  background-color: #0b0b0b; }
  .testimonials__container {
    max-width: 945px;
    margin: 0 auto;
    padding-top: 93px; }
    .testimonials__container .testimonials__title {
      color: #fff;
      text-align: center;
      margin-bottom: 142px;
      position: relative; }
    .testimonials__container .testimonials__slider {
      position: relative;
      overflow: hidden;
      padding-bottom: 283px; }
      .testimonials__container .testimonials__slider .slides {
        width: 300%; }
      .testimonials__container .testimonials__slider .slide {
        font-size: 18px;
        text-align: center; }
        .testimonials__container .testimonials__slider .slide__blockquote {
          color: #e7e7e7;
          margin-bottom: 44px;
          line-height: 24px;
          font-family: "Open Sans Semibold"; }
        .testimonials__container .testimonials__slider .slide__author {
          color: #b2b2b2; }
      .testimonials__container .testimonials__slider .dot-wrapper {
        bottom: 100px; }
      .testimonials__container .testimonials__slider #testimonials-slide-left:checked ~ .slides {
        left: 0; }
      .testimonials__container .testimonials__slider #testimonials-slide-center:checked ~ .slides {
        left: -100%; }
      .testimonials__container .testimonials__slider #testimonials-slide-right:checked ~ .slides {
        left: -200%; }
      .testimonials__container .testimonials__slider #testimonials-slide-left:checked ~ .dot-wrapper #testimonials-dot-left,
      .testimonials__container .testimonials__slider #testimonials-slide-center:checked ~ .dot-wrapper #testimonials-dot-center,
      .testimonials__container .testimonials__slider #testimonials-slide-right:checked ~ .dot-wrapper #testimonials-dot-right {
        background-color: #fcac45; }

.contact__container {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 92px;
  color: #222222; }
  .contact__container .contact__title {
    position: relative;
    text-align: center;
    margin-bottom: 81px; }
  .contact__container .contact__undertitle-text {
    font-size: 16px;
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 92px;
    line-height: 24px; }
  .contact__container .contact__form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 104px; }
    .contact__container .contact__form .form__item {
      display: flex;
      flex-direction: column;
      width: 48%;
      position: relative; }
      .contact__container .contact__form .form__item.name {
        margin-right: auto; }
      .contact__container .contact__form .form__item.message {
        width: 100%;
        margin: 30px 0; }
      .contact__container .contact__form .form__item .item__label {
        color: #636363;
        font-size: 14px;
        margin-bottom: 8px; }
        .contact__container .contact__form .form__item .item__label::after {
          content: '*';
          color: #ff0000;
          position: absolute;
          top: 0;
          margin-left: 3px; }
      .contact__container .contact__form .form__item .item__name, .contact__container .contact__form .form__item .item__email {
        padding: 11px 10px;
        outline: none; }
      .contact__container .contact__form .form__item .item__message {
        height: 165px;
        padding: 10px;
        outline: none; }
    .contact__container .contact__form .form__submit-button {
      background-color: #fcac45;
      color: #fff;
      font-size: 16px;
      border: 1px solid transparent;
      outline: none;
      padding: 11px 61px;
      margin-left: auto;
      cursor: pointer; }
      .contact__container .contact__form .form__submit-button:hover {
        background-color: #fff;
        border-color: #fcac45;
        color: #fcac45;
        transition: color, background-color .4s; }

.footer {
  background-color: #222222; }
  .footer__container {
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0; }
    .footer__container .footer__copyright {
      color: #b2b2b2;
      font-size: 12px;
      letter-spacing: .25px; }
    .footer__container .footer__links {
      display: flex; }
      .footer__container .footer__links .links__item {
        display: block;
        width: 31px;
        height: 31px;
        margin-left: 14px; }
        .footer__container .footer__links .links__item.facebook {
          background: url("../img/facebook-icon.png") no-repeat center center/cover; }
        .footer__container .footer__links .links__item.twitter {
          background: url("../img/twitter-icon.png") no-repeat center center/cover; }
        .footer__container .footer__links .links__item.google {
          background: url("../img/google-icon.png") no-repeat center center/cover; }
        .footer__container .footer__links .links__item.linkedin {
          background: url("../img/linkedin-icon.png") no-repeat center center/cover; }
        .footer__container .footer__links .links__item.dribbble {
          background: url("../img/dribbble-icon.png") no-repeat center center/cover; }

/*# sourceMappingURL=main.css.map */
