.Button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #fff;
    margin-right: 15px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.Button:focus {
    outline: none;
}

.Button:hover {
    opacity: .8;
}

.Button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    background-color: rgba(220, 53, 69, 1);
}

.success {
    background-color: rgba(40, 167, 69, 1);
}

.primary {
    background-color: #007bff;
}