.questionInput {
    padding: 10px;
}

.questionInput, .questionLabel {
    display: block;
    width: 100%;
    margin: 5px auto;
}

.formElement {
    margin: 20px 0;
}

input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}

i {
    margin-left: 10px;
}