.Drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 90;
    transform: translateX(0);
    transition: transform .2s;
}

.close {
    transform: translateX(-300px);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listItem {
    margin-bottom: 15px;
}

.link{
     color: #363d54;
     font-size: 30px;
     text-decoration: none;
     background-color: #fff;
     position: relative;
     padding: 0 20px 10px;
     transition: opacity .3s;
}

.link:hover, .active{
    opacity: .7;
}