::ng-deep {
  .filter__price .ng5-slider .ng5-slider-bar {
    background: #f1f1f1;
    height: 10px;
  }

  .filter__price .ng5-slider .ng5-slider-selection {
    background: var(--detail-color);
  }

  .filter__price .ng5-slider .ng5-slider-pointer {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--detail-color);
    outline: none;
    top: -3px;
    bottom: 0;
    background-color: var(--light-color);
  }

  .filter__price .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .pagination .ngx-pagination .current {
    background: var(--detail-color);
  }
}

.btn {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  display: inline-block;
  background-color: var(--detail-color);

  &:hover {
    background-color: #2456ff;
  }
}
