<div class="options">
  <ul class="menu">
    <li class="menu__item">Sorting order
      <section class="dropdown">
        <ul class="dropdown__menu">
          <li class="dropdown__item" (click)="setOrder('desc')">High to Low</li>
          <li class="dropdown__item" (click)="setOrder('asc')">Low to High</li>
        </ul>
      </section>
    </li>
  </ul>

  <ul class="menu">
    <li class="menu__item">Show
      <section class="dropdown">
        <ul class="dropdown__menu">
          <li class="dropdown__item" (click)="setItemsPerPage(9)">9 items</li>
          <li class="dropdown__item" (click)="setItemsPerPage(18)">18 items</li>
        </ul>
      </section>
    </li>
  </ul>
</div>

<div class="main">
  <div class="filters">
    <div class="filter">
      <p class="filter__title">Price</p>
      <div>
        <div class="filter__price">
          <ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options"
                      (valueChange)="priceOnChange(minPrice, maxPrice)"></ng5-slider>
        </div>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">Generation</p>
      <div class="filter__element" *ngFor="let generation of generationCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="generation.checked"
                 (change)="setChanges($event, generation,
                 'generationsToFilter', 'generationCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">Apple Watch Series {{generation.name}}</span>
        </label>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">Model</p>
      <div class="filter__element" *ngFor="let model of modelCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="model.checked"
                 (change)="setChanges($event, model,
                 'modelsToFilter', 'modelCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">{{model.name}}</span>
        </label>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">Size</p>
      <div class="filter__element" *ngFor="let size of sizeCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="size.checked"
                 (change)="setChanges($event, size,
                 'sizesToFilter', 'sizeCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">{{size.name}}mm</span>
        </label>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">Color</p>
      <div class="filter__element" *ngFor="let color of colorCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="color.checked"
                 (change)="setChanges($event, color,
                 'colorsToFilter', 'colorCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">{{color.name}}</span>
        </label>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">Strap Series</p>
      <div class="filter__element" *ngFor="let strapSeries of strapSeriesCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="strapSeries.checked"
                 (change)="setChanges($event, strapSeries,
                 'strapSeriesToFilter', 'strapSeriesCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">{{strapSeries.name}}</span>
        </label>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">Strap Color</p>
      <div class="filter__element" *ngFor="let strapColor of strapColorCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="strapColor.checked"
                 (change)="setChanges($event, strapColor,
                 'strapColorsToFilter', 'strapColorCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">{{strapColor.name}}</span>
        </label>
      </div>
    </div>
  </div>


  <div class="catalog">
    <ng-container *ngIf="(products
      | priceFilter: minPrice: maxPrice
      | watchParameterFilter: generationsToFilter: modelsToFilter:
      sizesToFilter: colorsToFilter: strapSeriesToFilter: strapColorsToFilter
      | orderFilter: itemsOrder
      | textFilter: textFilter
      | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }) as result">

      <div class="catalog__item" *ngFor="let product of result">
        <div class="item__photo" [routerLink]="['/watch', product.id]">
          <img src="../../assets/img/watch/{{product.photo}}.jpg" alt="{{product.model}}"/>
        </div>
        <p class="item__title">Apple Watch Series {{product.generation}}
          {{product.size}}mm {{product.color}}
          <span *ngIf="product.model === 'Apple Watch Sport'">Aluminium Case</span>
          <span *ngIf="product.model === 'Apple Watch Stainless'">Steel Case</span>
          <span *ngIf="product.model === 'Apple Watch Edition'">Ceramic Case</span>
          with {{product.strapColor}} {{product.strapSeries}}
        </p>
        <hr/>
        <h3 class="item__price">{{product.price | currency}}</h3>
        <button class="btn" (click)="addItem(product)">Add to Cart</button>
      </div>

      <span *ngIf="!result.length">No items found</span>
      <pagination-controls *ngIf="result.length" class="catalog__pagination"
                           (pageChange)="changeCurrentPage($event)"></pagination-controls>
    </ng-container>
  </div>
</div>

<app-alert></app-alert>


