<app-alert></app-alert>

<div class="item" *ngIf="product">
  <div class="item__photo">
    <img src="../../assets/img/mac/{{product.photo}}.jpg" alt="{{product.model}}"/>
  </div>
  <div class="item__data">
    <p class="item__title">{{product.diagonal}} {{product.model}} {{product.memory}}
      <span *ngIf="product.hasTouchBar === 'yes'">with Touch Bar</span> ({{product.color}})</p>
    <ul class="menu">Parameters
      <li class="menu__item"><span class="item__parameter">Model:</span> {{product.model}}</li>
      <li class="menu__item"><span class="item__parameter">Diagonal:</span> {{product.diagonal}}</li>
      <li class="menu__item"><span class="item__parameter">Memory:</span> {{product.memory}}</li>
      <li class="menu__item"><span class="item__parameter">Color:</span> {{product.color}}</li>
      <li class="menu__item"><span class="item__parameter">Has Touch Bar:</span> {{product.hasTouchBar}}</li>
      <li class="menu__item"><span class="item__parameter">Price:</span> {{product.price | currency}}</li>
    </ul>
    <button class="btn" (click)="addItem(product)">Add to Cart</button>
  </div>
</div>
