.ActiveQuizQuestion {
    padding: 0 20px 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 0 10px;
    box-sizing: border-box;
    width: 600px;
}

.Question {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

code {
    display: inline-block;
    background-color: orange;
    color: black;
    border-radius: 2px;
    padding: 0 5px;
}