<div class="options">
  <ul class="menu">
    <li class="menu__item">Sorting order
      <section class="dropdown">
        <ul class="dropdown__menu">
          <li class="dropdown__item" (click)="setOrder('desc')">High to Low</li>
          <li class="dropdown__item" (click)="setOrder('asc')">Low to High</li>
        </ul>
      </section>
    </li>
  </ul>

  <ul class="menu">
    <li class="menu__item">Show
      <section class="dropdown">
        <ul class="dropdown__menu">
          <li class="dropdown__item" (click)="setItemsPerPage(9)">9 items</li>
          <li class="dropdown__item" (click)="setItemsPerPage(18)">18 items</li>
        </ul>
      </section>
    </li>
  </ul>
</div>

<div class="main">
  <div class="filters">
    <div class="filter">
      <p class="filter__title">Price</p>
      <div>
        <div class="filter__price">
          <ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options"
            (valueChange)="priceOnChange(minPrice, maxPrice)"></ng5-slider>
        </div>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">Model</p>
      <div class="filter__element" *ngFor="let model of modelCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="model.checked"
             (change)="setChanges($event, model,
             'modelsToFilter', 'modelCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">{{model.name}}</span>
        </label>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">New or used?</p>
      <div class="filter__element" *ngFor="let condition of conditionCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="condition.checked"
             (change)="setChanges($event, condition,
             'conditionsToFilter', 'conditionCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">{{condition.name}}</span>
        </label>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">Memory</p>
      <div class="filter__element" *ngFor="let memory of memoryCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="memory.checked"
             (change)="setChanges($event, memory,
             'memoriesToFilter', 'memoryCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">{{memory.name}}GB</span>
        </label>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">Color</p>
      <div class="filter__element" *ngFor="let color of colorCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="color.checked"
             (change)="setChanges($event, color,
             'colorsToFilter', 'colorCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">{{color.name}}</span>
        </label>
      </div>
    </div>

    <div class="filter">
      <p class="filter__title">Has 2 Sim?</p>
      <div class="filter__element" *ngFor="let hasTwoSim of hasTwoSimCategories">
        <label class="filter__label">
          <input type="checkbox" [checked]="hasTwoSim.checked"
             (change)="setChanges($event, hasTwoSim,
             'hasTwoSimsToFilter', 'hasTwoSimCategories')">
          <i class="far fa-square"></i>
          <i class="far fa-check-square"></i>
          <span class="filter__name">{{hasTwoSim.name}}</span>
        </label>
      </div>
    </div>
  </div>

  <div class="catalog">
    <ng-container *ngIf="(products
      | priceFilter: minPrice: maxPrice
      | iphoneParameterFilter: modelsToFilter: conditionsToFilter:
      colorsToFilter: memoriesToFilter: hasTwoSimsToFilter
      | orderFilter: itemsOrder
      | textFilter: textFilter
      | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }) as result">

      <div class="catalog__item" *ngFor="let product of result">
        <div class="item__photo" [routerLink]="['/iphone', product.id]">
          <img src="../../assets/img/iphone/{{product.photo}}.jpg" alt="{{product.model}}"/>
        </div>
        <p class="item__title"><span *ngIf="product.condition === 'used'">used</span>
          {{product.model}} {{product.memory}}GB
          <span *ngIf="product.hasTwoSim === 'yes'">Dual SIM</span> ({{product.color}})</p>
        <hr/>
        <h3 class="item__price">{{product.price | currency}}</h3>
        <button class="btn" (click)="addItem(product)">Add to Cart</button>
      </div>

      <span *ngIf="!result.length">No items found</span>
      <pagination-controls *ngIf="result.length" class="catalog__pagination"
           (pageChange)="changeCurrentPage($event)"></pagination-controls>
    </ng-container>
  </div>
</div>

<app-alert></app-alert>
