.FinishedQuiz {
    padding: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px 50px;
}

.quizItem {
    padding-bottom: 20px;
}

.icon {
    margin-left: 10px;
}

.success {
    color: rgba(161, 240, 69, .7);
}

.fail {
    color: rgba(240, 87, 108, .7);
}